.AnimacionLogo {
	animation-duration: 4s;
	animation-name: aparecer;
 }
 
@keyframes aparecer {
    from {
       opacity: 0;
     }
     to{
       opacity: 1;
     }
  }

  header {
    background-color:$blanco;

    div ul li {
        @include tipografia($tprincipal, 3rem, 600,$violeta);
        text-transform: uppercase;

    }
}

#ColorMenu {
    color:$violeta;

    &:hover {
        color: $amarillo;
        transform:scale(1.1) ;
    }
}

#Active {
  color: $amarillo;
}


